<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div id="mytest">
</div>
<div id="mytest1">
</div>
<script>
con_str  ="{{con_content}}"
console.log(con_str)
//con_str = con_str.replace(/&amp;/g,"&");
//con_str = con_str.replace(/&lt;/g,"<");
//con_str = con_str.replace(/&gt;/g,">");
//con_str = con_str.replace(/&quot;/g,"\"");
con_str = con_str.replace(/&#39;/g,"\"");
console.log(con_str)
con_dic = '{' + con_str +'}';
//console.log(con_dic.count)
//var obj = eval('(' + con_str+ ')');
//console.log(obj)

document.getElementById("mytest1").innerHTML=con_str

</script>
</body>

</html>
