<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ subweb}}">
<head>
<meta charset=utf-8>
<title>
{{ title }}</title>
<meta http-equiv=x-dns-prefetch-control content=on>
<meta name=renderer content=webkit>
<link rel=dns-prefetch href=//s3.pstatp.com/ >
<link rel=dns-prefetch href=//s3a.pstatp.com/ >
<link rel=dns-prefetch href=//s3b.pstatp.com>
<link rel=dns-prefetch href=//p1.pstatp.com/ >
<link rel=dns-prefetch href=//p3.pstatp.com/ >
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
<meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,minimal-ui">
<link rel=alternate media="only screen and (max-width: 640px)" href=//m.toutiao.com/a6459880887008887310/ >
<meta name=keywords content=>
<meta name=description content='{{ description}}'>
</head>

<body>

<p>

{{ subweb }}
</p>


</body>

</html>

